<!DOCTYPE html>
<html ng-app="myConnects">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <!--<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500'>-->
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Raleway:200:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>
     <!--Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"/>


    <title>myConnects</title>
</head>
<body ng-controller="mainController">

<nav class="navbar navbar-default .navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="nav-items-left navbar-brand">
                <a href="#/main"> <img src="../image/MyConnectsLogo.png" class="logo"></a>
                <!--<button type="button" class="btn btn-default navbar-btn">Sign in</button>-->
                <a class="userbtn navbar-button grow" data-toggle="modal" data-target="#myModal" >
                <img class="userbtn" src="{{data.users[(currentUserId)].picUrl}}"/>

                <md-tooltip class="tool-tip" md-direction="bottom" md-visible="demo.showTooltip">
                Edit my Card
                </md-tooltip>
                <!--</img>-->
                </a>
            </div>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{data.users[(currentUserId)].name}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <md-tabs md-selected=>
                                    <md-tab id="skillsTab">
                                        <md-tab-label class="skills-tab">skills</md-tab-label>
                                        <md-tab-template class="outline">
                                            <md-content>
                                                <md-list>
                                                    <md-item class="md-whiteframe-z1" ng-repeat="skill in data.users[(currentUserId)].skills">
                                                        <md-item-content>
                                                            <div class="md-tile-left">
                                                                <md-button class="md-warn" ng-click="removeSkill(skill)">X</md-button>
                                                            </div>
                                                            <div class="md-tile-content">
                                                                <h3>{{skill}}</h3>
                                                                <p>{{skill.notes}}</p>
                                                            </div>
                                                        </md-item-content>
                                                        <md-divider md-inset ng-if="!$last"></md-divider>
                                                    </md-item>
                                                </md-list>
                                            </md-content>
                                            <md-input-container class="add-skills-input">
                                                <label>add skills/trade</label>
                                                <input ng-model="data.skill" placeholder="sidelines, services, skills, anything you know how to do ">
                                            </md-input-container>
                                            <md-button type="button" class="add-skills md-raised md-primary" ng-click="addSkill(data.skill)">Add Skill</md-button>
                                        </md-tab-template>
                                    </md-tab>
                                    <md-tab id="needsTab">
                                        <md-tab-label class="needs-tab">needs</md-tab-label>
                                        <md-tab-template>
                                            <md-content>
                                                <md-list>
                                                    <md-item ng-repeat="need in data.users[(currentUserId)].needs">
                                                        <md-item-content>
                                                            <div class="md-tile-left">
                                                                <md-button class="md-warn" ng-click="removeNeed(need)">X</md-button>

                                                            </div>
                                                            <div class="md-tile-content">
                                                                <h3>{{need}}</h3>
                                                                <p>{{need.notes}}</p>
                                                            </div>
                                                        </md-item-content>
                                                        <md-divider md-inset ng-if="!$last"></md-divider>
                                                    </md-item>
                                                </md-list>
                                            </md-content>
                                            <md-input-container class="add-needs-input">
                                                <label>help needed</label>
                                                <input ng-model="data.needToAdd" placeholder="any needs a friend can help with">
                                            </md-input-container>
                                            <md-button type="button" class="md-warn md-raised md-hue-2" ng-click="addNeed(data.needToAdd)">Add Needs</md-button>
                                        </md-tab-template>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </div>

                        <div class="modal-footer col">
                            modal version 1.0
                            <md-button type="button" class="circle-btn md-fab md-primary md-hue-2" ng-click="getFriends()" data-dismiss="modal">Close</md-button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="navbar-toggle collapsed menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--<div class="navbar-btn">-->


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<div class="nav navbar-nav navbar-right pull-right menu-btns">-->
                    <!--<md-button class="navbar-btn md-warn md-raised md-hue-2" ng-click="logOut()">Log Out</md-button>-->
                <!--</div>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<div class="nav navbar-nav navbar-right pull-right menu-btns">-->
                    <!--<md-button class="navbar-btn md-warn md-raised md-hue-2" ng-click="logOut()">Log Out</md-button>-->
                <!--</div>-->
            <!--</ul>-->

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dev Support<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/main">Suggest a feature</a></li>
                        <li><a href="#/main">Report a bug</a></li>
                        <li class="divider"></li>
                        <li><a href="#/main">Donate</a></li>
                    </ul>
                </li>
                <li><md-button class="navbar-btn menu-btns md-warn md-raised md-hue-2" ng-click="logOut()">Log Out</md-button></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="search" role="search">
    <input type="text" class="form-control" placeholder="Search by skills or name" ng-model="searchText">
    <!--<input type="text" class="form-control" placeholder="Search by needs" ng-model="searchNeed">-->
</div>
<ng-view></ng-view>


<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
<script src="./js/app.js"></script>
<script src="./js/mainController.js"></script>
<script src="./js/facebookService.js"></script>
<script src="./js/materialController.js"></script>
</body>
</html>

