<div class="container login-container">
    <div class="text-container col-xs-7">
    <p>Welcome to myConnects, this site is in very early stages of development</p>
    <p> when you log in, you will only be able to see and search through your facebook friends that are also using myConnects</p>
    <p> please log in and click your photo from the menu or on top nav, then add any skills or anything you know how to do, add any sideline work that you do</p>
    <p> the purpose of this web app is to be able to find services and skills that you may need, through your friends</p>
    <p> just try out the search and as you type it will sort out your friends, you can search by name, or skills</p>
    </div>

    <div class="update-log col-xs-4 col-xs-offset-1">
        <h3>--update-log--</h3>
        <p>03/29- you can now add needs,
            updated design to view needs and skills
        </p>
        <br/>
        <p>03-30-- duplicate errors fixed.
            <br/>
            !you can now see your own card pushed as the first card!</p>
        <br/>
            input for adding skills and needs are automatically cleared after submit!
        <P>04-04-15-- cards show new changes after entering new skills and needs</P>
    </div>
    <div class="login-box col-xs-12">
        <md-button class="md-raised md-primary" ng-click="fbLogin()">FacebookLogin</md-button>
    </div>
</div>



